script(type='text/javascript', src='/js/libraries/jquery-2.0.0b1.min.js')
script(type='text/javascript', src='/js/libraries/yepnope-1.5.4.min.js')
script(type='text/javascript', src='/js/loader.js')
block foot