body { padding:40px 0 60px; }

#header {
	#header-alert {
		padding:20px 0 0;
		width:25%;
	}
}

#footer {
	background-color:#F5F5F5;
	border-top:1px solid #E5E5E5;
	padding:30px 0;
	width:100%;
	position:fixed;
	bottom:0;
}

#loading {
	margin-top:40px;

	&.internal .alert {
		margin:0;
	}
}

.btn {
	margin:0 2px;
}

table.table td {
	vertical-align:middle;
}

table .status {
	text-align:center;
	.icon-ok {
		color:#008000;
	}
	.icon-remove {
		color:#ff0000;
	}
}

table .actions {
	text-align:center;
}

#messages-list {
	&.hide-bullhorn .bullhorn,
	&.hide-calendar  .calendar,
	&.hide-camera .camera,
	&.hide-fighter-jet .fighter-jet,
	&.hide-envelope .envelope {
		display:none !important;
	}

	.new-message {
		display:none;
		border-top:1px solid #000;
		padding-top:10px;
		margin-bottom:10px;
		.message-buttons {
			border-top:1px solid #666;
			padding-top:5px;
		}
		img {
			max-height:120px;
		}
		.message-expand {
			display:none;
			text-align:center;
			cursor:pointer;
		}
		.message-condense {
			text-align:center;
			cursor:pointer;
		}
		.message-icon {
			text-align:right;
		}
	}

	.message-condensed {
		.message-content {
			display:none;
		}
		.message-buttons {
			display:none;
		}
		img {
			max-height:50px;
		}
		.message-expand {
			display:block;
		}
		.message-condense {
			display:none;
		}
	}
}

#messages-list {
	list-style:none;
}