body {
  padding: 40px 0 60px;
}
#header #header-alert {
  padding: 20px 0 0;
  width: 25%;
}
#footer {
  background-color: #F5F5F5;
  border-top: 1px solid #E5E5E5;
  padding: 30px 0;
  width: 100%;
  position: fixed;
  bottom: 0;
}
#loading {
  margin-top: 40px;
}
#loading.internal .alert {
  margin: 0;
}
.btn {
  margin: 0 2px;
}
table.table td {
  vertical-align: middle;
}
table .status {
  text-align: center;
}
table .status .icon-ok {
  color: #008000;
}
table .status .icon-remove {
  color: #ff0000;
}
table .actions {
  text-align: center;
}
#messages-list.hide-bullhorn .bullhorn,
#messages-list.hide-calendar .calendar,
#messages-list.hide-camera .camera,
#messages-list.hide-fighter-jet .fighter-jet,
#messages-list.hide-envelope .envelope {
  display: none !important;
}
#messages-list .new-message {
  display: none;
  border-top: 1px solid #000;
  padding-top: 10px;
  margin-bottom: 10px;
}
#messages-list .new-message .message-buttons {
  border-top: 1px solid #666;
  padding-top: 5px;
}
#messages-list .new-message img {
  max-height: 120px;
}
#messages-list .new-message .message-expand {
  display: none;
  text-align: center;
  cursor: pointer;
}
#messages-list .new-message .message-condense {
  text-align: center;
  cursor: pointer;
}
#messages-list .new-message .message-icon {
  text-align: right;
}
#messages-list .message-condensed .message-content {
  display: none;
}
#messages-list .message-condensed .message-buttons {
  display: none;
}
#messages-list .message-condensed img {
  max-height: 50px;
}
#messages-list .message-condensed .message-expand {
  display: block;
}
#messages-list .message-condensed .message-condense {
  display: none;
}
#messages-list {
  list-style: none;
}
