script#tpl_loader(type="text/html")
	include tpl_loader

script#tpl_header(type="text/html")
	include tpl_header

script#tpl_footer(type="text/html")
	include tpl_footer

script#tpl_alert(type="text/html")
	include tpl_alert

script#tpl_confirm_dialogue(type="text/html")
	include tpl_confirm_dialogue

script#tpl_home(type="text/html")
	include tpl_home

script#tpl_message(type="text/html")
	include tpl_message

script#tpl_messages_box(type="text/html")
	include tpl_messages_box