#message-box.row-fluid
	.page-header
		h2 Notifications
			.btn.pull-right.add-new-message Add New Message
	.row-fluid
		ul#messages-unread.nav.nav-pills
			li
				a
					i.icon-home
					span Type
			li
				a
					i.icon-home
					span Type
			li
				a
					i.icon-home
					span Type
	.row-fluid
		ul#messages-list