.navbar.navbar-inverse.navbar-fixed-top
	.navbar-inner
		.container
			a.brand(href="/#home")
				i.icon-home  Notification Hub
			.nav-collapse.collapse.navbar-responsive-collapse
				ul.nav
					li
						a(href="#messages") Messages
					li.dropdown
						a.dropdown-toggle(data-toggle="dropdown",href="#")
							| Dropdown
							b.caret
						ul.dropdown-menu
							li
								a(href="#test") Action
							li
								a(href="#test") Action
							li.divider
							li
								a(href="#test") Action
				ul.nav.pull-right
					li
						a(href='https://github.com/EnzoMartin78/notification-hub-js')
							i.icon-github
							| View Source on GitHub
