.navbar.navbar-inverse.navbar-fixed-top
	.navbar-inner
		.container
			a.brand(href="/#home")
				i.icon-home  Notification Hub
			.nav-collapse.collapse
				ul.nav
					li.active
						a(href='/#home') Home
				ul.nav.pull-right
					li
						a(href='#login')
							i.icon-signin
							| Login