extends layouts/default

block main
	#loading
		.row-fluid
			.well
				.alert.alert-info
					strong Loading
					span  - Please wait
				.progress.progress-striped.active
					#progress_bar_inner.bar